Options -Indexes
DirectoryIndex index.php

<FilesMatch "^(composer\.(json|lock)|README\.md|\.gitignore)$">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
</IfModule>
